In [2]:
#Naming Conventions
#Avoid str,int,float keywords for variable naming.
#1. Names cannot start with number.
#2. Except "_" , can't use special characters.
#3. Use camelCasing in naming class.
#4. Use snake_case in naming methods.

# Example1
_ = "Hello"
print(_) #Hello

Hello

In [3]:
# Error
1str1 = "Error"
print(1str1) #SyntaxError: invalid decimal literal

SyntaxError: invalid decimal literal (571061366.py, line 2)